* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.van-nav-bar {
  background-color: #1989fa;
}

.van-nav-bar__title {
  color: #fff;
}

.van-nav-bar__arrow,
.van-icon {
  color: #fff;
}
